<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dismiss</servlet-name>
        <servlet-class>Controller.Dismiss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>Controller.List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Controller.Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPoliticalParty</servlet-name>
        <servlet-class>Controller.GetPoliticalParty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>Controller.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>Controller.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckNIF</servlet-name>
        <servlet-class>Controller.CheckNIF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dismiss</servlet-name>
        <url-pattern>/Dismiss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPoliticalParty</servlet-name>
        <url-pattern>/GetPoliticalParty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckNIF</servlet-name>
        <url-pattern>/CheckNIF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
